{% extends 'base.html' %} {% block content %}
{% load static %}
<h1>Contact</h1>

<div class="row">
    <div class="col-sm-4">
        <div style="text-align: left"><img src = "{% static 'pictures/reef_six.jpg' %}"style="width: auto; height: auto;max-width: 420px;max-height: 400px"></div>
    </div>
    <div class="col-sm-8" style="text-align: left">
        <ul>
            <li>Trader Ben Contact Info:</li>
            <ul>
                <li>Email: traderben@bmowebservices.com</li>
            </ul>
        </ul>
    </div>
</div>

{% endblock %}